<div id="home" class="starter-template">
    <h1>Bootstrap starter template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.
        <br> All you get is this text and a mostly barebones HTML document.</p>
    <ul class="list-unstyled list-pizzas">
        <li ng-repeat="pizza in pizzas">
            <div class="thumbnail">
            		<div class="container-image">
            			<img class="img-bg" ng-style="{'background-image':'url({{ pizza.image }})'}" ng-alt="{{ pizza.name }}">
            			<div class="cover-hover">
            				<p><a data-toggle="modal" data-target="#modalPizza_{{ pizza._id }}"><i class="glyphicon glyphicon-zoom-in"></i></a></p>
            			</div>
            		</div>

                <div class="caption">
                    <h3>{{ pizza.name }}</h3>
                    <p>{{ pizza.description }}</p>
                 </div>
            </div>

            <div ng-include="'templates/includes/modal.html'"></div>
        </li>
    </ul>
</div>
